:root {
  --main-text: #000000;
  --main-bg: #FFFFFF;
  --non-lf: #DCDCDC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #DDDDDD;
    --main-bg: #202020;
    --non-lf: #343434;
  }
}

body {
  color: var(--main-text);
  background-color: var(--main-bg);
}

.form-table {
  width: 100vw;
  height: 75vh;
}

.form-elem {
  font-size: 15pt;
  width: 49%;
  height: 98%;
  resize: none;
  color: var(--main-text);
  background-color: var(--main-bg);
}

#textNonLF {
  background-color: var(--non-lf);
}

button {
  font-size: 30px;
  float: right;
}
